from sqlalchemy import func, case

@app.get("/admin/feedbacks")
def admin_feedbacks(
    request: Request
):

    check = admin_required(
        request
    )

    if check is not True:
        return check

    db = SessionLocal()

    emails = (
        db.query(
            Feedback.email,
            func.count(
                Feedback.id
            ).label(
                "total"
            ),
            func.sum(
                case(
                    (
                        Feedback.reply == None,
                        1
                    ),
                    else_=0
                )
            ).label(
                "pending"
            )
        )
        .group_by(
            Feedback.email
        )
        .all()
    )

    db.close()

    return templates.TemplateResponse(
        request=request,
        name="admin_emails.html",
        context={
            "emails": emails
        }
    )